<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>

    <script src="/js/angular.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootpag/jquery.bootpag.min.js"></script>
    
    <script src="/nonogram/js/nonogram.js"></script>
    <script src="/nonogram/js/mapper.js"></script>
    <script src="/nonogram/js/solver.js"></script>
    <script src="/nonogram/js/ui-manager.js"></script>
    <script src="/nonogram/js/editor/core.js"></script>

    <link rel="stylesheet" href="/css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/css/jquery-ui.structure.min.css"/>
    <link rel="stylesheet" href="/css/jquery-ui.theme.min.css"/>

    <link rel="stylesheet" href="/css/bootstrap-slider.min.css" />
    <script src="/js/bootstrap-slider.min.js"></script>

    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/nonogram/css/nonogram.css' />
    <link rel='stylesheet' href='/nonogram/css/game.css' />
    <link rel='stylesheet' href='/nonogram/css/editor.css' />

    <script type="text/javascript">

    </script>
  </head>
  <body>
    <div class="container fill">
    	<div class="game-container" ng-app="nonogram">
            <div class="editor editor-initate">
                <div class="row">
                    <h3>Please input stage's grid size.</h3>
                    
                    <input type="text" placeholder="X 크기" name="sizeX" id="editor-sizeX">
                    <input type="text" placeholder="Y 크기" name="sizeY" id="editor-sizeY">
                    
                    <button id="editor-start-button">create stage!</button>
                </div>
                <div class="row">
                    <h3>Or, please input Image file.</h3>
                    <input type="file" id="image-file-input" name="nonologic-input" accept="image/*">
                    <button id="image-file-submit">Load File</button>
                </div>
            </div>
            <div class="editor editor-loadFile">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Original Image 
                                <button id="editor-button-crop-submit" class="pull-right" style="display:none;">Complete</button>
                                <button id="editor-button-crop" class="pull-right">Crop</button>
                            </div>
                            <div class="panel-body canvas-container">
                                <div>
                                    <div id="editor-slider-X"></div>
                                    <div id="editor-slider-Y"></div>
                                    <canvas id="editor-canvas-before"></canvas>
                                    <div id="crop-preview"></div>
                                </div>

                                
                            </div>
                            <div class="panel-footer">
                                <p class="editor-canvas-before-footer">주의 : CROP 기능은 되돌릴 수 없습니다!</p>
                                <p class="editor-canvas-before-footer">Warning : CROP function CANNOT BE UNDONE!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Simplify Image</div>
                            <div class="panel-body canvas-container"><canvas id="editor-canvas-after"></canvas></div>
                            <div class="panel-footer"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Configuration</div>
                            <div class="panel-body">
                                <input type="text" placeholder="X 크기" name="sizeX" id="editor-canvas-sizeX">
                                <input type="text" placeholder="Y 크기" name="sizeY" id="editor-canvas-sizeY">
                                <button id="editor-button-simplify">Simplify</button>
                                <br>
                                <button id="editor-button-submit">Submit</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
                

            </div>
            <div class="editor editor-main">
                
            </div>
    	</div>
        <!-- Modal -->
        <div id="editor-submitted" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Stage Submitted</h4>
                    </div>
                    <div class="modal-body">
                        <p>스테이지가 정상적으로 제출되었습니다. 관리자의 검수 후 스테이지 목록에 추가됩니다.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

  </body>
</html>
