<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>

    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    
    <script src="/js/angular.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootpag/jquery.bootpag.min.js"></script>

    <script src="/nonogram/js/nonogram.js"></script>
    <script src="/nonogram/js/mapper.js"></script>
    <script src="/nonogram/js/solver.js"></script>
    <script src="/nonogram/js/ui-manager.js"></script>
    <script src="/nonogram/js/game/core.js"></script>
    <script src="/nonogram/js/game/resize-event-handler.js"></script>

    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/nonogram/css/nonogram.css' />
    <link rel='stylesheet' href='/nonogram/css/game.css' />

    <script type="text/javascript">

    </script>
  </head>
  <body>
    <div class="container fill">
    	<div class="game-container" ng-app="nonogram">
    		<div class="stage-select">
    			<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">
                            <h1 class="title">Stage Select</h1>
                        </div>
						<div class="panel-body stage-select-panel">

						</div>
                        <div class="panel-footer stage-pagination"></div>
					</div>
				</div>
    		</div>
    		<div class="game game-screen">
                
            </div>
            <!-- Modal -->
            <div id="game-screen-clear" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Clear!</h4>
                        </div>
                        <div class="modal-body">
                            <p>You Win!</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

    	</div>
    </div>
    <div class="device-xs visible-xs"></div>
    <div class="device-sm visible-sm"></div>
    <div class="device-md visible-md"></div>
    <div class="device-lg visible-lg"></div>
  </body>
</html>
