background = #9debfc
container-color = #feb228
rule-color = #03497e

.cell-marked-row
	border-top 2px solid red
	
.cell-marked-col
	border-left 2px solid red

.paint-tool-nav
	margin-bottom 10px

.canvas-container
	display flex
	justify-content center
	align-items center

canvas
	background white

#editor-slider-X
	layout absolute
#editor-slider-Y
	display inline-block

#crop-preview
	position absolute
	display none
	border 1px solid red

.editor-canvas-before-footer
	display none
	color background