background = #e4d9c5
container-color = #ecc369
rule-color = #eee9bb

body
	background-color container-color
.container
	background-color container-color
.game
	display none
.editor
	display none
.stage-panel
	width 25%
	padding 15px
.stage-panel > .panel > .panel-body
	height 150px
.stage-select-panel
	height 760px

.game-table-container
	position relative
	z-index 12
	margin 0 auto
	margin-top 30px
	border 1px solid container-color
.game-container-left-top
	width 100px
	height 100px
	position absolute
	overflow hidden
	left 0px
.game-container-left
	position absolute
	left 0px
	overflow hidden
.game-container-right
	top 0px
	position absolute
	overflow hidden
.game-wrapper-left
	position relative
	left 0px
	top 0px
	z-index 10
.game-wrapper-right-top
	position relative
	left 0px
	top 0px
	z-index 10
.game-wrapper-right-bot
	overflow auto
	
.game-nav
	height 56px
.game-nav > .btn-group
	top 15px

.row-rule-table
	border-top 3px solid container-color
	border-bottom 3px solid container-color
	border-right 3px solid container-color
.row-rule-table > tbody > tr > td
	background-color rule-color
	border-top 1px solid container-color
	border-bottom 1px solid container-color
.col-rule-table
	border-left 3px solid container-color
	border-right 3px solid container-color
	border-bottom 3px solid container-color
.col-rule-table > tbody > tr > td
	background-color rule-color
	border-left 1px solid container-color
	border-right 1px solid container-color
	
.row-rule-table > tbody > tr:nth-child(5n+0) > td
	border-bottom-width 3px

// .rule-table
// 	font-size 10px