body {
  background-color: #9debfc;
}
.container {
  background-color: #9debfc;
}
.game {
  display: none;
}
.editor {
  display: none;
}
.stage-panel {
  width: 25%;
  padding: 5px 10px;
}
.stage-panel > .panel > .panel-body {
  height: 150px;
}
.game-table-container {
  position: relative;
  z-index: 12;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid #9debfc;
}
.game-container-left-top {
  width: 100px;
  height: 100px;
  position: absolute;
  overflow: hidden;
  left: 0px;
}
.game-container-left {
  position: absolute;
  left: 0px;
  overflow: hidden;
}
.game-container-right {
  top: 0px;
  position: absolute;
  overflow: hidden;
}
.game-wrapper-left {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 10;
}
.game-wrapper-right-top {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 10;
}
.game-wrapper-right-bot {
  overflow: auto;
}
.game-nav {
  height: 56px;
}
.game-nav > .btn-group {
  top: 15px;
}
.row-rule-table {
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
}
.row-rule-table > tbody > tr > td {
  background-color: #03497e;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.col-rule-table {
  border-left: 3px solid #000;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
}
.col-rule-table > tbody > tr > td {
  background-color: #03497e;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.row-rule-table > tbody > tr:nth-child(5n+0) > td {
  border-bottom-width: 3px;
}
.game-grid {
  user-select: none;
}
.game-grid-cell-guess {
  transform: scale(0.7);
}
.game-cell.color-black {
  background-color: #000;
}
.panel-heading > button {
  color: #000;
}
