background = #e4d9c5
container-color = #ecc369
rule-color = #eee9bb

.fill 
    top 0
    left 0
    right 0
    bottom 0
    position absolute
    // width auto
    height auto
.game-grid
	border 3px solid black
.game-cell
	min-width 20px
	min-height 20px
	width 20px
	height 20px
	text-align center
	border 1px solid #ecc369
.game-grid-cell
	background-color white
.game-grid-cell-marked
	background-color black

.game-cell:first-child
	border-left-width 3px
.game-grid > tbody > tr:first-child > td
	border-top-width 3px
	
.game-cell:nth-child(5n+0)
	border-right-width 3px
.game-grid > tbody > tr:nth-child(5n+0) > td
	border-bottom-width 3px
.rule-table-mouse-over
	color red

.panel-default
	border-radius 0px
.panel-body
	background-color background
.stage-panel > .panel > .panel-body
	background-color rule-color
.panel-default > .panel-heading
	border-top-left-radius 0px
	border-top-right-radius 0px
	background-color rule-color
.panel-footer
	border-bottom-right-radius 0px
	border-bottom-left-radius 0px
	background-color rule-color
.stage-panel > .panel > .panel-footer
	background-color container-color