body {
  overflow: hidden;
}
.fill {
  left: 0;
  right: 0;
  position: absolute;
  height: auto;
}
h1.title {
  text-align: center;
  margin-top: 0pxe;
}
.game-grid {
  border: 3px solid #000;
}
.game-cell {
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  border: 1px solid #000;
  color: #9debfc;
}
.game-grid-cell {
  background-color: #fff;
}
.game-grid-cell-guess {
  background-color: #fff;
}
.game-grid-cell-marked {
  background-color: #000;
}
.game-grid-cell-multiblock {
  border-color: #00f;
}
.game-cell:first-child {
  border-left-width: 3px;
}
.game-grid > tbody > tr:first-child > td {
  border-top-width: 3px;
}
.game-cell:nth-child(5n+0) {
  border-right-width: 3px;
}
.game-grid > tbody > tr:nth-child(5n+0) > td {
  border-bottom-width: 3px;
}
.rule-table-mouse-over {
  color: #f00;
}
.panel {
  border-width: 15px;
  border-color: #03497e;
  background-color: #03497e;
}
.stage-panel > .panel {
  border-width: 6px;
}
.panel-default {
  border-radius: 15px;
}
.panel-body {
  background-color: #9debfc;
  border-radius: 15px;
}
.panel > .panel-heading {
  border-width: 0px;
  color: #9debfc;
}
.stage-panel > .panel > .panel-body {
  background-color: #fff6e2;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.panel-default > .panel-heading {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #03497e;
}
.panel-footer {
  border-width: 0px;
  border-radius: 10px;
  background-color: #03497e;
}
.stage-panel > .panel > .panel-footer {
  background-color: #feb228;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
