<!DOCTYPE html>
<html>
<head>
	<title>Authentication</title>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>

    <script src="/bootstrap/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="/css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/css/jquery-ui.structure.min.css"/>
    <link rel="stylesheet" href="/css/jquery-ui.theme.min.css"/>

    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <style>
    .align-center{
		min-height: 100%;  /* Fallback for vh unit */
		min-height: 100vh; /* You might also want to use
		                    'height' property instead.
		                    
		                    Note that for percentage values of
		                    'height' or 'min-height' properties,
		                    the 'height' of the parent element
		                    should be specified explicitly.

		                    In this case the parent of '.vertical-center'
		                    is the <body> element */

		/* Make it a flex container */
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex; 

		/* Align the bootstrap's container vertically */
		-webkit-box-align : center;
	  -webkit-align-items : center;
		   -moz-box-align : center;
		   -ms-flex-align : center;
		      align-items : center;

		/* In legacy web browsers such as Firefox 9
		 we need to specify the width of the flex container */
		width: 100%;

		/* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
		 hence the bootstrap's container won't be aligned to the center anymore.

		 Therefore, we should use the following declarations to get it centered again */
			 -webkit-box-pack : center;
			    -moz-box-pack : center;
			    -ms-flex-pack : center;
	  -webkit-justify-content : center;
			  justify-content : center;
	}
    </style>


</head>
<body>
	<div class="container align-center">
		<div class="row">
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Login
					</div>
					<div class="panel-body">
						<form action="/auth/oauth/login" method="post">
							<div class="form-group">
								<label for="account-sign-in-id">ID : </label>
								<input type="text" class="form-control" id="account-sign-in-id" name="id">
							</div>
							<div class="form-group">
								<label for="account-sign-in-password">Password : </label>
								<input type="password" class="form-control" id="account-sign-in-password" name="password">
							</div>
							<button type="submit" class="btn btn-default">Submit</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Sign-up
					</div>
					<div class="panel-body">
						<form action="/auth/oauth/register" method="post">
							<div class="form-group">
								<label for="account-sign-up-id">ID : </label>
								<input type="text" class="form-control" id="account-sign-up-id" name="id">
							</div>
							<div class="form-group">
								<label for="account-sign-up-password">Password : </label>
								<input type="password" class="form-control" id="account-sign-up-password" name="password">
							</div>
							<div class="form-group">
								<label for="account-sign-up-email">Email Address : </label>
								<input type="email" class="form-control" id="account-sign-up-email" name="email">
							</div>
							<button type="submit" class="btn btn-default">Submit</button>	
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>