<!DOCTYPE html>
<html>
<head>
	<title>이끌림 허브</title>
    <meta charset="utf-8">
    
   	<meta name="viewport" content="width=device-width, initial-scale=1">
   	
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/jquery-ui.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="/hub/css/hub.css">
	<script src="/hub/js/hub.js"></script>
	
	<script type="text/javascript">
		//for someday
	</script>
</head>
<body>
<% include ../navbar.ejs %>
<div class="container fill">
	<div class="row sortable" id="app-board">
		<div class="col-sm-4 app">
			<div class="panel panel-default">
				<div class="handle panel-heading"></div>
				<div class="panel-body"><p>test 1</p></div>
			</div>
		</div>
		<div class="col-sm-4 app">
			<div class="panel panel-default">
				<div class="handle panel-heading"></div>
				<div class="panel-body"><p>test 2</p></div>
			</div>
		</div>
		<div class="col-sm-4 app">
			<div class="panel panel-default">
				<div class="handle panel-heading"></div>
				<div class="panel-body"><p>test 3</p></div>
			</div>
		</div>
	</div>
</div>
</body>
</html>