<!DOCTYPE html>
<html>
<head>
	<title><%= docname %></title>
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/wiki/js/edit.js"></script>
</head>
<body>
<H1 id="title"><%= docname %></H1>
<div>
<form id="form" action="/wiki/we/" method="post", enctype="multipart/form-data">
	<textarea id="input"><%- content %></textarea>
	<input type="submit">
</form>
</div>
</body>
</html>