<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/wiki/css/wikiDocument.css">
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/wiki/js/wikiDocument.js"></script>

</head>
<body>
<div class="container">
	<div class="wiki-edit-menu">
		<ul>
			<li>편집</li>
			<li>역사</li>	
		</ul>
	</div>
	<div class="wiki-content"><%- content %></div>
</div>
</body>
</html>