*
 overflow hidden

html,body
 padding 0
 height 100%
 width 100% 
 font 10pt arial
 margin 0px

.full-size
  height 100%
  width 100% 

#container
 border 1px solid lightgray

header
 position fixed
 background-color rgba(200,200,200,0.2)
 z-index 5
 width 20%
 min-height 40%

header h1
 font-size 10pt

mark
 font-size 8px
 border 1px solid #FF0000

#editor
 position fixed
 right 0px
 top 0px
 background-color rgba(255,200,200,0.1)
 z-index 5
 width 20%
 height 40%
 min-width 300px
 min-height 320px
 border 1px solid lightgray
 padding 20px

.editor-hoveringtag
 border 5px solid blue

.button
 padding 5px
 text-align center

section
 padding 5px
 border 1px solid blue

#taglist
 position fixed
 left 0px
 bottom 0px
 background-color rgba(200,200,200,0.2)
 z-index 5
 width 20%
 min-height 40%

ul.taglist 
	list-style-type none
	padding 0px
	margin 0px
	border 1px solid teal

ul.taglist > li
	float left
	margin 0px 5px

div#editor-tags
 background-color rgba(255,255,255,1)
 border 1px solid black
 padding 2px