<!DOCTYPE html>
<html>
  <head>
    <title>"빈 공간에 온 걸 환영합니다."</title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>

    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/nonogram/css/nonogram.css' />
    <link rel='stylesheet' href='/nonogram/css/game.css' />
    <link rel='stylesheet' href='/nonogram/css/editor.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootpag/jquery.bootpag.min.js"></script>

    <!-- <script src="/nonogram/js/nonogram.js"></script>
    <script src="/nonogram/js/mapper.js"></script>
    <script src="/nonogram/js/solver.js"></script>
    <script src="/nonogram/js/ui-manager.js"></script>
    <script src="/nonogram/js/editor/core.js"></script>
 -->
    <script src="/js/jquery-ctable.js"></script>

    <link rel="stylesheet" href="/css/bootstrap-slider.min.css" />
    <script src="/js/bootstrap-slider.min.js"></script>

    <script type="text/javascript">

    </script>
  </head>
  <body>
    
  </body>
</html>
