<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>

    
    <link rel='stylesheet' href='/nonogram/css/nonogram.css' />
    <link rel='stylesheet' href='/nonogram/css/game.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />

    <script src="/js/angular.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootpag/jquery.bootpag.min.js"></script>

    <script src="/nonogram/js/nonogram.js"></script>
    <script src="/nonogram/js/index.js"></script>

    <link rel='stylesheet' href='/css/style.css' />

    <script type="text/javascript">

    </script>
  </head>
  <body>
    <div class="container fill">
    	<div class="game-container" ng-app="nonogram">
    		<div class="game title">
    			<div class="jumbotron">
    				<h1>Nonogram</h1>	
    			</div>
    			<ul class="nav nav-pills">
    				<li><a href="/nonogram/stage" id="button-game-start">Game Start</a></li>
                    <li><a href="/nonogram/editor" id="button-stage-editor">Create Stage</a></li>
    			</ul>
    		</div>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- 노노그램 리더보드 -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-2781925909064999"
                 data-ad-slot="7932221668"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
    	</div>
    </div>
  </body>
</html>
