<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>

    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/nonogram/css/nonogram.css' />
    <link rel='stylesheet' href='/nonogram/css/game.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <script src="/js/angular.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootpag/jquery.bootpag.min.js"></script>

    <script src="/nonogram/js/nonogram.js"></script>
    <script src="/nonogram/js/index.js"></script>

    <script type="text/javascript">

    </script>
  </head>
  <body>
    <div class="container fill">
    	<div class="game-container" ng-app="nonogram">
    		<div class="game title">
    			<div class="jumbotron">
    				<h1>Nonogram</h1>	
    			</div>
    			<ul class="nav nav-pills">
    				<li><a href="/game" id="button-game-start">Game Start</a></li>
                    <li><a href="/editor" id="button-stage-editor">Create Stage</a></li>
    			</ul>
    		</div>
    	</div>
    </div>
  </body>
</html>
