<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/nonogram/css/nonogram.css' />
    <link rel='stylesheet' href='/nonogram/css/game.css' />
    
    <script src="/js/angular.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootpag/jquery.bootpag.min.js"></script>

    <script src="/nonogram/js/nonogram.js"></script>
    <script src="/nonogram/js/mapper.js"></script>
    <script src="/nonogram/js/solver.js"></script>
    <script src="/nonogram/js/ui-manager.js"></script>
    <script src="/nonogram/js/queue/core.js"></script>

    <script type="text/javascript">

    </script>
  </head>
  <body>
    <div class="container fill">
    	<div class="game-container" ng-app="nonogram">
    		<div class="stage-queue">
    			<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">Stages On Queue</div>
						<div class="panel-body stage-queue-panel">

						</div>
                        <div class="panel-footer stage-pagination"></div>
					</div>
				</div>
    		</div>
    		<div class="game game-screen">
                
            </div>
    	</div>
    </div>
  </body>
</html>
