<!DOCTYPE html>
<html>
<head>
	<title>누리에 업로드 테스트</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/cleditor/jquery.cleditor.css">
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/cleditor/jquery.cleditor.js"></script>
	<script src="/nurie/js/uptest.js"></script>
	<script type="text/javascript">
	// 혹시나 스크립트를 쓴다면 여기에!
	</script>
</head>
<body>
<form id="form" action="/nurie/articleupload" method="post">
	<textarea id="input" name="input"></textarea>
	태그 : <input type="text" name="tag" id="tags"><br>
	<input type="Submit">
</form>

</body>
</html>