<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/nurie/">누리에 엿보기</a>
    <a href="/works/uptest/">업로드 시스템</a>
  </body>
</html>
