<!DOCTYPE html>
<html>
  <head>
    <title>이끌림의 세상</title>
    <meta charset="utf-8">
    
   	<meta name="viewport" content="width=device-width, initial-scale=1">
   	
	<script src="/javascripts/jquery.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="/frontpage/css/index.css">
	<script src="/frontpage/js/index.js"></script>
	
	<script type="text/javascript">
		//for someday
	</script>
	
  </head>
  <body>
  <% include navbar.ejs %>
    <div class="container text-center">
    <h1>Welcome to our page</h1>
    	<div class="row">
    		<div class="col-sm-12 maincontent">
    			<p>~introduce our project here~</p>
    		</div>
    	</div>
    </div>
  </body>
</html>
