<nav class="navbar navbar-light bg-faded">
	<a href="/" class="navbar-brand">이끌림 프로젝트</a>
	<ul class="nav navbar-nav">
		<li class="nav-item">
			<a href="/page/hub/">허브</a>
		</li>
		<li class="nav-item">
			<a href="/page/iklim/">이끌림</a>
		</li>
		<li class="nav-item">
			<a href="/page/nurie/">누리에</a>
		</li>
		<li class="nav-item">
			<a href="/page/wiki/doc/">위키</a>
		</li>
	</ul>
</nav>